dn: cn=admin,cn=license,cn=univention,{{ basedn }}
cn: admin
objectClass: top
objectClass: univentionLicense
objectClass: univentionObject
univentionLicenseBaseDN: UCS Core Edition
univentionLicenseCorporateClients: unlimited
univentionLicenseEndDate: unlimited
univentionLicenseKeyID: 9c14e6af-f3c6-4f33-9ad5-e6ae21f8e160
univentionLicenseManagedClients: unlimited
univentionLicenseModule: admin
univentionLicensePremiumSupport: 0
univentionLicenseServers: unlimited
univentionLicenseSignature: mnRXtqo3O0wtkANDaFqxHJ1vPq18TKgbrrB66ZeGfgzgJIHV
 fTHHtChX/a1RrQJpklCPboZHSG/aKi9NrDWHEhLt5BSFskjmhhISDzkxb96jUBhtCZDMZ03KulL
 Z43ox2yt6lb31b+5qrZ671VszfIvDL5b7fMlr+/iy5g1kzJMoNyMIcnN4UHL4gMhpLm1k9ddJeI
 hVRsQLSFalNDtUcOtWX8tjfKVr7m8+mUL9esIQVAPqBzJ/y+7hroAnvpX0JrVkuj5KNmCL35AmJ
 VA1BftUo/Q0RNOVEW2RSfdAXqgsg3JWMXorRrnoR3QdkrOiKx5+RrrK96g3w5WsAcWm8A==
univentionLicenseSupport: 0
univentionLicenseType: UCS
univentionLicenseUsers: unlimited
univentionLicenseVersion: 2
univentionLicenseVirtualDesktopClients: 0
univentionLicenseVirtualDesktopUsers: 0
univentionObjectType: settings/license

