hostname="{{ hostname }}"
domainname="{{ domainname }}"
windows/domain="{{ domainname }}"
ldap/base="{{ basedn }}"
root_password="{{ rootpassword }}"
locale/default="de_DE.UTF-8:UTF-8"
locale="en_US.UTF-8:UTF-8 de_DE.UTF-8:UTF-8"
server/role="domaincontroller_master"
interfaces/eth0/type="dhcp"
