{

        "csv": {
                "mapping": {
                        "0": "firstname",
                        "1": "lastname",
                        "2": "school_classes",
                        "3": "record_uid"
                },
                "header_lines": 2
        },
        "scheme": {
                "username": {
                        "default": "<:umlauts><firstname>[0:3]<lastname>[0:3]<:lower>[COUNTER2]"
                },
                "email": "<username>@<maildomain>"
        }
}
